
<div class="container parliament-panorama-container pt-4 pb-4">

    @*info box*@
    <div class="card-shadow-light rounded-0 alert alert-primary" role="alert">
        <p class="small-font mb-0 text-center">
            Im Parlaments-Panorama wird die Möglichkeit geboten, die Reden der Abgeordneten via Kategorien zu erforschen.
            Dies ermöglicht gezielte Einblicke in persönlich relevante Themen.
        </p>
    </div>

    @*header*@
    <div class="mt-2">
        <h5 class="text-center text-dark font-weight-bold mb-0">Kategorien</h5>
    </div>

    @*actual content*@
    <div class="w-100" id="categoriesPanoramaContent">
    </div>

    <hr class="mt-2 mb-2">

</div>