
<div class="container parliament-panorama-container pt-4 pb-4">

    @*header*@
    <div class="mt-2">
        <h5 class="text-center text-dark font-weight-bold mb-0">Kategorien</h5>
    </div>

    @*actual content*@
    <div class="w-100" id="categoriesPanoramaContent">
    </div>

    @*info box*@
    <div class="card-shadow-light rounded-0 alert alert-dark mt-5" role="alert" style="opacity:0.9">
        <div class="flexed align-items-center m-0 p-0">
            <img src="./img/logo/VecTop_Logo.png" style="height:75px" class="mr-3"/>
            <p class="small-font mb-0 text-left">
                Im Parlaments-Panorama wird die Möglichkeit geboten, die Reden der Abgeordneten via Kategorien zu erforschen.
                Dies ermöglicht gezielte Einblicke in persönlich relevante Themen. <br />
                <b>
                    Woher kommen die Kategorien? Wie ordnet die Bundestags-Mine den Reden diesen Kategorien zu? Mithilfe von VecTop!<br />
                    Mehr zu VecTop im
                    <a href="https://bundestag-mine.de/researchcenter" target="_blank">Research Center <i class="fas fa-university"></i></a>
                    oder direkt via <a href="http://vectop.bundestag-mine.de/" target="_blank">Live-Demo</a>.
                </b>
            </p>
        </div>
    </div>
</div>