<p class="title"> <span class="text__first"><span class="text__word">Bundestags- </span><span class="text__first-bg"></span></span><br /><span class="text__second"><span class="text__word">Mine</span><span class="text__second-bg"></span></span></p>
@*<img class="centered" src="~/img/duetscher-adler-flagge.png" />*@
<div class="flexed justify-content-start align-items-end h-100 w-100">
    <div class="speeches-count display-none">
        <div>
            <p class="mb-0">
                <span class="underlined font-weight-bold protocols header"><i class="fas fa-clipboard-list"></i> Sitzungsprotokolle</span>
            </p>
            <p class="mb-0">
                <span class="font-weight-bold speeches header"><i class="fas fa-comments"></i> Reden</span>
            </p>
            <p class="mb-0">
                <span class="font-weight-bold deputies header"><i class="fas fa-users"></i> Abgeordnete</span>
            </p>
            <p class="mb-0">
                <span class="font-weight-bold tokens header"><i class="fas fa-poll"></i> Abstimmungen</span>
            </p>
            <p class="mb-0">
                <span class="font-weight-bold gb header"><i class="fas fa-chart-pie"></i> Analysen</span>
            </p>
        </div>
    </div>
    @*tutorial video*@
    <div class="explanation-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/__3BU5dXwGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
