<div class="min-vh-100">
    <div class="home-header">
        <div class="row m-0 p-0 h-100">
            <div class="col-xl-5 m-0 pl-5 pr-5 pt-3 pb-3 position-relative">
                <h1 class="title text-underlined">Die Bundestags-Mine</h1>
                <div class="text-center text-light">
                    <h3 class="text-shadow">Natural Language Processing trifft auf den Bundestag.</h3>
                </div>
                <div class="main-content">
                    <div class="branch">
                        <div></div>
                        <i class="fas fa-check-circle"></i>
                        <h5>Sammeln der Daten: </h5>
                        <p>
                            Die Daten der Bundestags-Mine wie Sitzungsprotokolle, Abstimmungen, Reden werden
                            via Webscraper direkt von der Seite des deutschen Bundestags runtergeladen.
                        </p>
                    </div>
                    <div class="branch">
                        <div></div>
                        <i class="fas fa-check-circle"></i>
                        <h5>NLP-Pipelines: </h5>
                        <p>
                            Diesen Daten werden NLP-Pipelines unterzogen, welche Token, Named-Entities und Sentiments
                            berechnen. Außerdem werden automatische Zusammenfassungen der einzelnen Reden
                            generiert.
                        </p>
                    </div>
                    <div class="branch">
                        <div></div>
                        <i class="fas fa-check-circle"></i>
                        <h5>Interaktion: </h5>
                        <p>
                            Über die Bundestags-Mine lassen sich sowohl mit den Rohdaten, als auch mit den Auswertungen
                            der KI, eigene Analysen und Recherchen anfertigen. Dazu steht ihnen eine breite Auswahl
                            an Funktionen zur Verfügung.
                        </p>
                    </div>
                    <div class="branch">
                        <div></div>
                        <i class="fas fa-check-circle"></i>
                        <h5>Open Source: </h5>
                        <p>
                            Das Projekt "Bundestags-Mine" ist zu 100% transparent. Der Quellcode lässt sich auf
                            GitHub einsehen und im Download Center können alle Daten für ihren eigenen Gebrauch
                            heruntergeladen werden. Im Research Center werden die technischen Hintergründe erläutert.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-xl-7 m-0 p-5 position-relative">
                <video controls playsinline poster="./videos/Thumbnail_Video_3.png">
                    <source src="./videos/Bundestags-Mine-Explanation.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="free-div">
                    <h3>Kostenlos <i class="ml-2 mr-2 text-warning fas fa-handshake"></i> <span class="text-line-through">Account</span></h3>
                </div>
                <div class="shadow-lg rounded bg-darkprime-gradient p-3 text-light text-center">
                    Was ist Natural Language Processing und was genau wird in der Bundestags-Mine verarbeitet?
                    <br />Mehr dazu im <a class="font-weight-bold text-light text-underlined"
                                          asp-page="/ResearchCenter/Index" target="_blank">Research Center</a>!
                </div>
            </div>
        </div>
    </div>
</div>

@*this is the bg div*@
<div class="bg-design-div bg-darkprime-gradient"></div>
@*This is the vector bg*@
<div class="bg-anim"></div>
