@using BundestagMine.ViewModels
@model SpeakerInspectorViewModel

<div class="modal-header bg-darkprime rounded-0 text-light pl-3 pr-3 pb-1 pt-1">
    <h5 class="modal-title">Angela Merkel</h5>
    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row m-0 p-0">
        <div class="col-4">
            <img class="portrait" src="/img/portrait-beispiel-2.jpg"/>
        </div>
    </div>
</div>