@*This is an html template which we store on the page and use in the client only.*@
@*Thats why we have no model here... sadly.*@

<div class="summary-popover-template">
    <p class="mb-0 text-center text-dark font-weight-bold">Zusammenfassung der Rede</p>
    <hr class="mt-1 mb-2" />
    <p class="summary-abstract-content mb-0 text-center small-font">

    </p>
    <hr class="mt-2 mb-2" />
    <p class="xsmall-font mb-0 text-center text-dark">
        Automatic Text Summarization? Mehr dazu im <b>Research Center</b>.
    </p>
</div>