
<div class="pt-2 pl-2 pr-2 pb-4 bg-gradient-light min-vh-100">
    <div class="position-relative h-100 container min-vh-100">
        <div class="header-me row m-0 p-0">
            <div class="w-100 col-md-4 m-0 pb-3 flexed align-items-center justify-content-center text-center">
                <img src="/img/Me.jpg" />
            </div>
            <div class="col-md-8 pl-5">
                <h1 class="text-dark font-weight-bold">Hi!</h1>
                <hr class="mt-1 mb-2" />
                <p>
                    Ich bin Kevin, 98er Baujahr und studiere Informatik. Das Ganze finanziere ich durch meine
                    Werkstudenten-Tätigkeit als Softwareentwickler im Raum Frankfurt.<br />
                    Das Geld, was ich nicht an meinen Gas- & Strom-Zulieferer abdrücken muss und die Zeit, die ich mir
                    neben Studium und Arbeit nehmen kann, stecke ich in die Bundestags-Mine.<br />
                    Leider hat dies sein Limit und das fängt preislich schon bei den Lizenzkosten der Datenbank an, die jetzt ihr
                    Limit erreicht hat - sie ist voll. Mehr Speicher kostet. Bessere Server kosten.<br />
                    <b>Ich freue mich daher über jeden Support und über jedes Feedback. Wie geht das?</b>
                </p>
                <ul class="mb-4">
                    <li>Zeige anderen Leuten die Bundestags-Mine!</li>
                    <li>Nutze das Kontakt-Formular im Footer und gebe Feedback!</li>
                    <li>Zusammenarbeit? Networking? Hit me up!</li>
                    <li>
                        Geldspende über folgenden Link (Debit/Kredit/Paypal möglich):<br />
                    </li>
                </ul>
                <div class="flexed w-100 justify-content-end">
                    <a class="donate-btn" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3HC4L477XZRXU"><i class="fab fa-paypal mr-1"></i> Spenden</a>
                </div>
            </div>
        </div>
    </div>
</div>
