<div class="min-vh-100 p-5">
    <div class="container-fluid h-100 paper-layout">
        @*header*@
        <div class="paper-header">
            <img class="logo" src="/img/logo/Logo_schwarz_transparent_RGB_534x512.png" />
            <h1>Neues vom Schürfer</h1>
            <h4>Die aktuellen Ergebnisse der <span class="meeting">64</span>. Sitzung direkt aus der Bundestags-Mine</h4>
            <div class="meta">
                <p>www.bundestag-mine.de</p>
                <p class="date">04.01.2023</p>
                <p>info@bundestag-mine.de</p>
            </div>
        </div>
        @*content*@
        <div class="paper-content">
            @*the paper is divided into 3 main columns*@
            <div class="row m-0 p-0">
                @*left*@
                <div class="col-lg-2 m-0 left">
                    @*most commented speech*@
                    <div class="most-commented-speech">
                        <h4>Kontroverse Rede</h4>
                        <img src="/img/portrait-beispiel-2.jpg" />
                        <p class="mt-2">
                            <b class="name">Olaf Scholz</b> von der <b class="fraction">SPD</b> hat eine Rede zum Tagesordnungspunkt
                            <b class="top">Fluggastrechte</b> gehalten und dafür die meisten Kommentare erhalten. Insgesamt
                            <b class="count">8</b> mal wurde reingerufen mit einem Sentiment von
                            <b class="sentiment">-0,58</b>.
                            <b class="name">Olaf Scholz</b> hat dabei häufig <b class="sentiment-type">negativ</b> im Kontext von
                            <b class="ne">Deutschland</b> gesprochen:<br />
                        </p>
                        <p>
                            <i>"</i><i class="segment">Heute befassen wir uns alle noch einmal mit dem Geschehen in Rastatt. Wir haben schon von einigen Rednern gehört, was vorgefallen ist. Vor acht Monaten haben uns die Vorstände der DB Netz AG, Dr. Rompf und Dr. Schaffer, im Ausschuss erklärt, wie es am 12. August zu der Gleisabsenkung im Zuge der Tunnelarbeiten kam. Damals hat die Besatzung der Tunnelvortriebsmaschine eine Veränderung der Tunnellage erkannt – was gut ist – und umgehend den Fahrdienstleiter informiert. Die Strecke wurde sofort gesperrt. Das dauerte ganze drei Minuten...</i><i>"</i>
                        </p>
                        <button class="btn btn-dark rounded-0 w-100">Ganze Rede lesen</button>
                    </div>
                    <hr class="bg-lightgray" />
                    @*most negative speech*@
                    <div class="most-commented-speech">
                        <h4>Negativste Rede</h4>
                        <img src="/img/portrait-beispiel.jpg" />
                        <p class="mt-2">
                            Die negativste Rede mit einem Sentiment von <b>-0,86</b> wurde dieses mal von
                            <b>Christian Lindner</b> gehalten. In der Rede zum Tagesordungspunkt <b>Digitale Verwaltung</b>
                            lag der Fokus vorallem auf <b>Deutschland</b> und <b>Russland</b>.
                        </p>
                        <p>
                            <i>"</i><i class="segment">Heute befassen wir uns alle noch einmal mit dem Geschehen in Rastatt. Wir haben schon von einigen Rednern gehört, was vorgefallen ist. Vor acht Monaten haben uns die Vorstände der DB Netz AG, Dr. Rompf und Dr. Schaffer, im Ausschuss erklärt, wie es am 12. August zu der Gleisabsenkung im Zuge der Tunnelarbeiten kam. Damals hat die Besatzung der Tunnelvortriebsmaschine eine Veränderung der Tunnellage erkannt – was gut ist – und umgehend den Fahrdienstleiter informiert. Die Strecke wurde sofort gesperrt. Das dauerte ganze drei Minuten...</i><i>"</i>
                        </p>
                        <button class="btn btn-dark rounded-0 w-100">Ganze Rede lesen</button>
                    </div>
                    <hr class="bg-lightgray" />
                    @*commercial bundestags mine*@
                    <div class="donate">
                        <h4>[Werbung]</h4>
                        <p class="mb-0">
                            Die Bundestags-Mine wird aus eigener Tasche finanziert und ehrenamtlich entwickelt. Es ist ein
                            Projekt eines Studenten. Über Support
                            jeglicher Art freuen wir uns sehr - sei es via Spenden oder Feedback. Mehr dazu im Support-Tab
                            oder direkt hier über den Paypal-Button.
                        </p>
                        <img class="w-100 mt-1 mb-1" src="/img/logo/Logo mit Schriftzug_schwarz_transparent_RGB_1024x473.png"/>
                        <a class="btn btn-warning rounded-0 w-100 mt-1 text-black" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3HC4L477XZRXU">
                            Spenden
                        </a>
                    </div>
                    <hr class="bg-lightgray" />
                    @*most positive speech*@
                    <div class="most-commented-speech">
                        <h4>Positivste Rede</h4>
                        <img src="/img/Unbekannt.jpg" />
                        <p class="mt-2">
                            Die positivste Rede hingegen mit einem Sentiment von <b>0,56</b> wurde von
                            <b>Unbekannt</b> gehalten. In der Rede zum Tagesordungspunkt <b>Digitale Verwaltung</b>
                            lag der Fokus vorallem auf <b>Deutschland</b> und <b>Russland</b>.
                        </p>
                        <p>
                            <i>"</i><i class="segment">Heute befassen wir uns alle noch einmal mit dem Geschehen in Rastatt. Wir haben schon von einigen Rednern gehört, was vorgefallen ist. Vor acht Monaten haben uns die Vorstände der DB Netz AG, Dr. Rompf und Dr. Schaffer, im Ausschuss erklärt, wie es am 12. August zu der Gleisabsenkung im Zuge der Tunnelarbeiten kam. Damals hat die Besatzung der Tunnelvortriebsmaschine eine Veränderung der Tunnellage erkannt – was gut ist – und umgehend den Fahrdienstleiter informiert. Die Strecke wurde sofort gesperrt. Das dauerte ganze drei Minuten...</i><i>"</i>
                        </p>
                        <button class="btn btn-dark rounded-0 w-100">Ganze Rede lesen</button>
                    </div>
                    <hr class="bg-lightgray" />
                </div>


                @*mid*@
                <div class="col-lg-8 m-0 mid">
                    <img src="/img/bundestag-sitze.jpg" class="thumbnail" />
                    <label class="source mb-0">Quelle</label>
                    <hr class="mt-0 mb-3 bg-lightgray" />
                    @*named entityt*@
                    <div>
                        <h3 class="subtitle">Thema des Tages: <b>Russland</b></h3>
                        <p>
                            Die Named-Entity-Analyse hat ergeben, dass vorallem <b>Deutschland</b>, <b>Russland</b> und
                            <b>Ukraine</b> in den Reden der Abgeordneten präsent war. Wenig frequentiert waren hingegen
                            <b>EU</b> und <b>Sozial</b>.
                        </p>
                        @*chart for ne distribution*@
                        <img class="w-100" src="~/img/chart-beispiel.png" />
                        <label class="source mb-0">NE-Verteilung, sortiert nach Häufigkeit</label>
                    </div>
                    <hr class="bg-lightgray" />
                    @*sentiment*@
                    <div>
                        <h3 class="subtitle">Die Stimmung war <b>negativ</b></h3>
                        <p>
                            Der durchschnittliche Sentiment lag bei <b>-0,34</b>, wobei vorallem im Kontext von <b>Russland</b>
                            und <b>Deutschland</b> negativ gesprochen wurde. Vorallem <b>Lena Mann</b> hat mit einem durchschnittlichen
                            Sentiment von <b>-0,84</b> dazu beigetragen.
                        </p>
                        @*chart for sentiment distribution*@
                        <div class="row m-0 p-0">
                            <div class="col-md-4 m-0 p-1">
                                <img class="w-100" src="~/img/chart-beispiel-4.png" />
                            </div>
                            <div class="col-md-4 m-0 p-1">
                                <img class="w-100" src="~/img/chart-beispiel-4.png" />
                            </div>
                            <div class="col-md-4 m-0 p-1">
                                <img class="w-100" src="~/img/chart-beispiel-4.png" />
                            </div>
                        </div>
                    </div>
                    <hr class="bg-lightgray" />
                    @*Comments network*@
                    <div>
                        <h3 class="subtitle">Es wurde kommentiert</h3>
                        <p>
                            Auch dieses mal gab es wieder Feedback von den Zuhörenden in Form von Kommentaren und Rufen. Das
                            Kommentar-Netzwerk visualisiert diese.
                        </p>
                        @*chart for comment distribution*@
                        <img class="w-100" src="~/img/chart-beispiel-5.png" />
                        <label class="source mb-0">NE-Verteilung, sortiert nach Häufigkeit</label>
                    </div>
                </div>


                @*right*@
                <div class="col-lg-2 m-0 right">
                    @*agenda items listed*@
                    <div class="agenda">
                        <h4>Die Agenda</h4>
                        <p>Folgende Tagesordnungspunkte standen an:</p>
                        <p class="list">
                            1. Wohngeld-Plus-Gesetz<br />
                            2. Änderung des Atomgesetzes<br />
                            3. Befragung der Bundesregierung<br />
                            4. Fragestunde<br />
                            5. Ünterstützung der Protestbewegung im Iran<br />
                            6. Einspruch gegen eine Ordnungsmaßnahme<br />
                            7. Digitale Verwaltung<br />
                            8. Mittelstandspolitik<br />
                        </p>
                        <p>
                            Der beliebteste Tagesordnungspunkt mit den meisten Reden war dabei
                            <b>Digitale Verwaltung</b> mit <b>20</b> Reden, gefolgt von
                            <b>Mittelstandspolitik</b> mit <b>16</b> Reden. Das Schlusslicht war
                            <b>Fragestunde</b> mit nur <b>5</b> Reden.
                        </p>
                        <img class="w-100" src="/img/chart-beispiel-2.png" />
                    </div>
                    <hr class="bg-lightgray" />
                    @*commercial artlas*@
                    <div>
                        <h4>[Werbung]</h4>
                        <p class="mb-0">Logo und Erklärvideo der Bundestags-Mine angefertigt von <b>ARTLAS DESIGNS</b></p>
                        <a href="https://www.artlas.design" target="_blank">
                            <img class="w-100 clickable" src="/img/ARTLAS/artlas-logo.png" />
                        </a>
                    </div>
                    <hr class="bg-lightgray" />
                    @*polls listed*@
                    <div class="polls">
                        <h4>Abstimmungen</h4>
                        <p>In der Sitzung wurden <b>3</b> namentliche Abstimmungen getätigt.</p>
                        <div class="poll">
                            <h6>Änderung des Atomgesetzes</h6>
                            <img class="w-100" src="/img/chart-beispiel-3.png" />
                        </div>
                        <div class="poll">
                            <h6>Änderung von Verbrauchersteuergesetzen</h6>
                            <img class="w-100" src="/img/chart-beispiel-3.png" />
                        </div>
                        <div class="poll">
                            <h6>Krisengewinne von Energiekonzernen</h6>
                            <img class="w-100" src="/img/chart-beispiel-3.png" />
                        </div>
                    </div>
                    <hr class="bg-lightgray" />
                    @*Numbers and facts*@
                    <div class="numbers">
                        <h4>Zahlen und Fakten</h4>
                        <p>
                            Die Sitzung war mit <b>120</b> Reden eine vergleichsweise kurze.<br />
                            Die längste Rede hielt <b>Annalena Bearbock</b> von der "Bündnis Grünen" mit <b>160</b> Satzzeichen zum Tagesordungspunkt <b>Digitale Macht</b>.<br />
                            Am Meisten kommentiert wurde von Stephan Brandner von der AfD mit insgesamt <b>8</b> Kommentaren.<br />
                            Den meisten Beifall bekam die Rede von <b>Olaf Scholz</b> zum Thema <b>Gendern</b>.<br />
                            Die meisten Reden hielt <b>Max Mustermann</b> mit insgesamt <b>3</b> Reden in <b>2</b> verschiedenen Tagesordnungspunkten.<br />
                        </p>
                    </div>
                    <hr class="bg-lightgray" />
                    @*commercial ttl*@
                    <div>
                        <h4>[Werbung]</h4>
                        <p>Alle NLP-Analysen stammen vom Text Technology Lab</p>
                        <a href="https://www.texttechnologylab.org/" target="_blank">
                            <img class="w-100 img-shadow clickable" src="/img/ttl-logo-white.png" />
                        </a>
                    </div>
                    <hr class="bg-lightgray" />
                    @*all speakers*@
                    <div>
                        <h4>Alle Redner(innen)</h4>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                        <p class="mb-0">Angela Merkel (CDU/CSU) - 3 Reden</p>
                    </div>
                    <hr class="bg-lightgray" />
                </div>
            </div>
        </div>
    </div>
</div>