:root {
    --bg-darkprime: rgba(38,38,38,1);
}

.global-search {
}

    .global-search .header {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .global-search .tabs {
        box-shadow: 0 8px 10px -5px gray;
    }

        .global-search .tabs .tab {
            border-left: gray 1px solid;
            border-right: gray 1px solid;
            transition: 0.15s;
            max-width: 225px;
            border-top: gray 1px solid;
            color: black;
            display: none;
        }

            .global-search .tabs .tab:hover {
                background-color: lightgray;
                transition: 0.15s;
            }

        .global-search .tabs .selected-tab {
            border-right: gray 1px solid;
            transition: 0.15s;
            border-left: gray 1px solid;
            color: black;
            background-color: #f6c23e;
        }

    .global-search .results {
        position: relative;
    }

        .global-search .results .result {
            display: none;
        }

        .global-search .results .loader {
            position: absolute;
            width: 100%;
            display: none;
            z-index: 5;
            background-color: rgba(255,255,255,0.8);
            top: 0;
            height: calc(100vh - 226px); /*This is the height of all the headers. Its hacky, yes. Wont work on mobile.*/
            left: 0;
        }

            .global-search .results .loader .lds-ripple {
                position: absolute;
                left: calc(50% - 40px);
                top: calc(50% - 40px);
            }

        .global-search .results .result-content {
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: calc(100vh - 226px); /*This is the height of all the headers. Its hacky, yes. Wont work on mobile.*/
            overflow-y: auto;
        }

    .global-search .result-content .cur-result-page {
        overflow-y: auto;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 12px;
        height: calc(100% - 30px);
    }

        /* ============================================= SPEECH =============================================*/
        .global-search .result-content .cur-result-page .speech {
            position: relative;
            border-left: transparent 6px solid;
            transition: 0.25s;
            padding: 6px;
            cursor: pointer;
        }

            .global-search .result-content .cur-result-page .speech:hover {
                border-left: gold 6px solid;
                background-color: lightgray;
                transition: 0.25s;
            }

            .global-search .result-content .cur-result-page .speech img {
                height: 100px;
                object-fit: cover;
                width: 100px;
                border-radius: 50%;
                border: gray solid 1px;
            }

            .global-search .result-content .cur-result-page .speech .name {
                color: black;
                font-size: small;
                margin: 0;
                text-align: center;
            }

            .global-search .result-content .cur-result-page .speech .info {
                font-size: small;
                margin: 0;
                padding-left: 12px;
                padding-right: 12px;
                color: black;
                text-decoration: underline;
            }

            .global-search .result-content .cur-result-page .speech .date {
                font-size: small;
                margin: 0;
                padding-left: 12px;
                padding-right: 12px;
                color: rgba(0,0,0,0.7);
            }

            .global-search .result-content .cur-result-page .speech .sneekpeak {
                font-size: small;
                padding: 12px;
            }

                .global-search .result-content .cur-result-page .speech .sneekpeak .word {
                    background-color: gold;
                    font-size: medium;
                    color: black;
                }

        /* ============================================= SPEAKER =============================================*/
        .global-search .result-content .cur-result-page .speaker {
            margin: 8px;
            width: 200px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: 0.25s;
            border: gray 1px solid;
            background-color: lightgray;
        }

            .global-search .result-content .cur-result-page .speaker:hover {
                transition: 0.25s;
                transform: scale(1.025, 1.025);
                cursor: pointer;
            }

            .global-search .result-content .cur-result-page .speaker img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }

            .global-search .result-content .cur-result-page .speaker .name {
                text-align: center;
                color: black;
                margin-bottom: 5px;
                margin-top: 5px;
                font-size: small;
            }

        /* ============================================= SPEAKER =============================================*/
        .global-search .result-content .cur-result-page .agendaItem {
            margin: 8px;
            width: 250px;
            height: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: 0.25s;
            border: gray 1px solid;
            position: relative;
            transition: 0.25s;
            background-color: rgba(215,215,215,1);
        }

            .global-search .result-content .cur-result-page .agendaItem .hovered {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: ghostwhite;
                overflow-y: auto;
                display: none;
                transition: 0.25s;
            }

            .global-search .result-content .cur-result-page .agendaItem .description {
                font-size: small;
                margin: 0;
                text-align: center;
                padding: 8px;
                transition: 0.25s;
            }

            .global-search .result-content .cur-result-page .agendaItem:hover {
                transition: 0.25s;
                transform: scale(1.025, 1.025);
            }

                .global-search .result-content .cur-result-page .agendaItem:hover .hovered {
                    display: block;
                    transition: 0.25s;
                }

            .global-search .result-content .cur-result-page .agendaItem img {
                height: 100%;
                position: absolute;
                z-index: 0;
                opacity: 1;
                width: 100%;
                object-fit: contain;
            }

            .global-search .result-content .cur-result-page .agendaItem .name {
                text-align: center;
                z-index: 1;
                color: black;
                margin-bottom: 5px;
                margin-top: 5px;
                position: absolute;
                font-size: medium;
                opacity: 0.75;
                width: 100%;
                top: 50px;
                background-color: var(--bg-darkprime);
                color: white;
            }

            .global-search .result-content .cur-result-page .agendaItem .date {
                font-size: small;
                margin: 0;
                padding-left: 12px;
                text-align: center;
                padding-right: 12px;
                color: black;
            }

            .global-search .result-content .cur-result-page .agendaItem .info {
                font-size: small;
                margin: 0;
                padding-left: 12px;
                text-align: center;
                padding-right: 12px;
                color: black;
                text-decoration: underline;
            }


    .global-search .result-content .all-result-pages {
        display: flex !important;
        border-top: gray 1px solid;
        width: 100%;
        position: absolute;
        top: calc(100% - 30px); /*This 30px must be changed in the cur-result-page as well.*/
        height: 30px;
        justify-content: space-around;
    }

        .global-search .result-content .all-result-pages button {
            width: 100%;
            color: black;
            background-color: transparent;
            padding: 2px !important;
            transition: 0.15s;
            margin: 0;
            max-width: 100px;
        }

            .global-search .result-content .all-result-pages button:hover {
                background-color: lightgray;
                border-left: 1px gray solid;
                border-right: 1px gray solid;
                transition: 0.15s;
            }

        .global-search .result-content .all-result-pages .cur-offset {
            background-color: #f6c23e !important;
            color: black !important;
            border-right: gray 1px solid;
            border-left: gray 1px solid;
        }
