.left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    bottom: auto;
    right: auto;
    background: rgba(120, 120, 120, 0.9);
    z-index:99;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

    .left-layer.active {
        left: 100%;
    }

.left-layer--2 {
    background: rgba(48, 48, 48, 0.8);
    transition-delay: 0.3s;
}

.left-layer--3 {
    background: gray;
    transition-delay: 0.12s;
}

.left-layer--4 {
    background: ghostwhite;
    transition-delay: 0.08s;
}
