:root {
    --bg-darkprime: rgba(38,38,38,1);
}

.topic-chart-svg {
    /*background-color: transparent !important;*/
    border-radius: 50%;
    z-index:2 !important;

/*    border: gray 1px solid;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
    background-size: cover;
    background-image: url('../img/bundestag-sitze.jpg');*/
}

.node {
    cursor: pointer;
}

    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }

.node--leaf {
    fill: gray;
    border:black 1px solid;
}

.node--root {
    fill: rgba(0,0,0,0) !important;
    /*background-image: url('../img/deutscher-bundestag.jpg');*/
}

.speakernode {
    /*fill: black !important;*/
    cursor: pointer !important;
}

.topic-label {
    text-anchor: middle;
    padding: 10px;
    font-size: 1rem;
    fill: black !important;
    stroke-width: 0.2px;
}

.label {
    pointer-events: none;
}

.topic-map-info {
    position: fixed;
    border-radius: 6px;
    width: 200px;
    height: auto;
    z-index: 3 !important;
    top: 25%;
    transform:translate(0, -50%);
    right: 5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 7px;
}

    .topic-map-info .content {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 1px;
        padding-bottom: 3px;
    }


.topic-speaker-window {
    height: 150px;
    width: 200px;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 7px;
    border-radius: 0px 0 0 6px;
    display: none;
    border: gray 1px solid;
    z-index:3 !important;
}

    .topic-speaker-window .bubble {
        position: absolute;
        left: -14.5px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 0% 0 0 100%;
        border: gray 1px solid;
        border-right: none !important;
        /* box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 7px; */
    }

    .topic-speaker-window .portrait {
        border-radius: 0% 50% 50% 0%;
        /* box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 7px; */
        object-fit: cover;
        border-color: gray !important;
        border-width: 1px !important;
        border-right: solid;
        border-top: solid;
        border-bottom: solid;
        height: 150px;
        width: 150px;
        position: absolute;
        left: calc(100% + 1px);
        top: -1px;
    }

    .topic-speaker-window .loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        top: 0;
        left: 0;
        display: none;
    }

        .topic-speaker-window .loader .lds-ripple {
            position: absolute;
            left: calc(50% - 40px);
        }

#topicMapContent {
    background-image: url('../img/bundestag-sitze.jpg');
}

    #topicMapContent .background-div {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index:1;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
    }

    #topicMapContent .chart-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        top: 0;
        left: 0;
        display: none;
        z-index:4 !important;
    }

        #topicMapContent .chart-loader .load-message {
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            top: 55%;
        }

        #topicMapContent .chart-loader .lds-ripple {
            position: absolute;
            left: calc(50% - 40px);
            top: calc(50% - 40px);
        }
