.header-me {
    border-radius: 3px 3px 3px 3px;
    position: static;
    left: 0;
    margin-top:20%;
    width: 100%;
}

    .header-me img {
        border: gold 1px dashed;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 50% 50% 50% 50%;
        object-fit: contain;
        width: 100%;
        height: auto;
        max-width: 325px;
    }

.donate-btn {
    padding: 12px;
    background-color: gold;
    color: rgba(0,0,0,0.75);
    font-weight: bolder;
    text-align: center;
    max-width: 250px;
    width: 100%;
    border: gray 1px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}