<div class="global-search">
    @*header*@
    <div class="bg-lightgray p-3 header">
        @*searchbox*@
        <div class="flexed">
            <input class="form-control w-100 rounded-0 global-search-input" type="text" placeholder="Suchbegriff" />
            <button class="btn btn-warning rounded-0 global-search-start-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        @*filter*@
        <div class="flexed align-items-center mt-2 global-search-filter">
            <h4 class="mb-0 mt-0 mr-2"><i class="text-dark font-weight-bold fas fa-filter"></i></h4>
            <div class="flexed justify-content-around align-items-center w-100 flex-wrap">
                @*speeches*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Reden durchsuchen" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-comment"></i></h6>
                    <input type="checkbox" checked data-id="speeches" />
                </div>
                @*Shouts*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Kommentare durchsuchen" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-comments"></i></h6>
                    <input type="checkbox" data-id="shouts" />
                </div>
                @*Speakers*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Redner(innen) durchsuchen" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-user"></i></h6>
                    <input type="checkbox" data-id="speakers" />
                </div>
                @*Agenda Items*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Tagesordnungspunkte durchsuchen" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-exclamation"></i></h6>
                    <input type="checkbox" data-id="agendaItems" />
                </div>
                @*Polls*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Abstimmungen durchsuchen" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-poll"></i></h6>
                    <input type="checkbox" data-id="polls" />
                </div>
                @*From*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Von-Datum" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-hourglass-start"></i></h6>
                    <input type="date" data-id="from" class="form-control rounded-0" value="2017-01-01" />
                </div>
                @*To*@
                <div class="flexed align-items-baseline" data-expanded="true" data-toggle="popover" data-content="Bis-Datum" data-trigger="hover">
                    <h6 class="mb-0 mt-0 mr-2"><i class="fas fa-hourglass-end"></i></h6>
                    <input type="date" data-id="to" class="form-control rounded-0" value="2023-01-01" />
                </div>
            </div>
        </div>
    </div>
    @*divider*@
    <hr class="mt-0 mb-0" />
    @*Results*@
    <div>
        <div class="p-3 flexed justify-content-between align-items-center search-result-info">
            <h5 class="m-0 text-dark">Suchergebnisse für <span class="search text-dark font-weight-bold"></span></h5>
            <h5 class="m-0"><span class="from"></span> <i class="fas fa-long-arrow-alt-right"></i> <span class="to"></span></h5>
        </div>

        @*tabs to switch views*@
        <div class="flexed align-items-center tabs">
            <button class="btn rounded-0 w-100 tab" data-id="speeches">Reden</button>
            <button class="btn rounded-0 w-100 tab" data-id="shouts">Kommentare</button>
            <button class="btn rounded-0 w-100 tab" data-id="speakers">Redner(innen)</button>
            <button class="btn rounded-0 w-100 tab" data-id="agendaItems">TOP</button>
            <button class="btn rounded-0 w-100 tab" data-id="polls">Abstimmungen</button>
        </div>

        @*result contents that shows the search results*@
        <div class="results">
            <div class="result" data-id="speeches">
                <div class="loader"><div class="lds-ripple"><div></div><div></div></div></div>
                <div class="result-content"></div>
            </div>
            <div class="result" data-id="shouts">
                <div class="loader"><div class="lds-ripple"><div></div><div></div></div></div>
                <div class="result-content"></div>
            </div>
            <div class="result" data-id="speakers">
                <div class="loader"><div class="lds-ripple"><div></div><div></div></div></div>
                <div class="result-content"></div>
            </div>
            <div class="result" data-id="agendaItems">
                <div class="loader"><div class="lds-ripple"><div></div><div></div></div></div>
                <div class="result-content"></div>
            </div>
            <div class="result" data-id="polls">
                <div class="loader"><div class="lds-ripple"><div></div><div></div></div></div>
                <div class="result-content"></div>
            </div>
        </div>
    </div>

</div>