<link href="~/css/topic-analysis.css" rel="stylesheet">

<div>
    <div class="topic-analysis-ribbon flexed align-items-center">
        <a class="btn rounded-0 pl-4 pr-4 h-100 add-analysis-btn" data-toggle="popover" data-trigger="hover" data-placement="bottom"
           data-content="Neue Analyse erstellen" onclick="$('#analysisConfiguratorModal').modal('show');">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <div class="topic-analysis-content">
    </div>
</div>

<script src="./js/topic-analysis.js" charset="utf-8" type="text/javascript"></script>

